= simple_form_for(@contact) do |f|
  = f.error_notification

  .form-inputs
    = f.captcha
    = f.input :name, label: "Nombre"
    = f.input :email
    = f.input :message, as: :text, label: "Mensaje"
  .form-actions
    = f.button :submit
