= simple_form_for(@post) do |f|
  = render "layouts/error_messages", :target=>@post

  .form-inputs
    = f.input :title
    = f.input :link, :hint=> "En caso el menu apunte a un link externo como 'http://ejemplo.com' รณ '#' para no apuntar a nada"
    = f.input :body
    = f.input :parent_id, :collection => Post.select_options

  .form-actions
    = f.button :submit
