= simple_form_for(@post) do |f|
  = render "layouts/error_messages", :target=>@post

  .form-inputs
    = f.input :title
    = f.input :link, :hint=> "'#' para no apuntar a nada (menu), o 'http://ejemplo.com' para un sitio externo, o dejar en blanco"
    = f.input :body
    = f.input :parent_id, :collection => Post.select_options

  .form-actions
    = f.button :submit
