- title = @post.title
- description = truncate_words @post.body

%h1= @post.title

#post_body{:"data-mercury"=>"full"}
  = @post.body.html_safe

- if authenticated?
  %p
    = link_to 'Edit on line', "/editor" + request.path
    \|
    = link_to 'Edit', edit_post_path(@post)
    \|
    = link_to 'Back', posts_path
