!!!
%html{:lang => "en"}
  %head
    %meta{:charset => "utf-8"}
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}
    %link{:href => "http://fonts.googleapis.com/css?family=Lobster", :rel => "stylesheet", :type => "text/css"}
    %link{:href => "http://fonts.googleapis.com/css?family=Cabin", :rel => "stylesheet", :type => "text/css"}
    = stylesheet_link_tag    "application"
    = javascript_include_tag "vendor/custom.modernizr"
    = csrf_meta_tags
    - if content_for?(:head)
      = yield(:head)
    - else
      %title= "CCP | #{SEO_TITLE}"
      %meta{name:"description", content:SEO_DESCRIPTION}
  %body
    = render "layouts/nav"
    .container
      .row
        .large-12.columns
          = render 'layouts/flashes'
          = yield
    = javascript_include_tag "application"