!!!
%html{:lang => "en"}
  %head
    %meta{:charset => "utf-8"}
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}
    %link{:href => "http://fonts.googleapis.com/css?family=Lobster", :rel => "stylesheet", :type => "text/css"}
    %link{:href => "http://fonts.googleapis.com/css?family=Cabin", :rel => "stylesheet", :type => "text/css"}
    = stylesheet_link_tag    "application"
    = javascript_include_tag "vendor/custom.modernizr"
    = csrf_meta_tags
    - if content_for?(:head)
      = yield(:head)
    - else
      %title= "#{ENV["SEO_TITLE"]}"
      %meta{name:"description", content:ENV["SEO_DESCRIPTION"]}
  %body
    = render "layouts/nav"
    .container
      .row
        .large-12.columns
          = render 'layouts/flashes'
          = yield
    = javascript_include_tag "application"
    
    :javascript
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', '#{ENV["GA"]}']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
      